<ion-header class="ion-no-border mb-3">
  <ion-toolbar color="secondary">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/home"></ion-back-button>
      </ion-buttons>
      <div class="text-center flex-grow-1">
        <img src="assets/images/Logo_DuocUC.svg.png" alt="" class="Logo-DuocUC mt-2">
        <ion-title class="text-center fs-2 mb-2">{{ 'app.title' | translate }}</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="p-3">
    <div class="d-flex flex-column align-items-center mx-4 mt-1">
      <ion-title class="text-center fs-2 mb-3 text-dark">{{ 'changePassword.header' | translate }}</ion-title>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <ion-list>
        <ion-input label="{{ 'changePassword.currentPassword' | translate }}" label-placement="floating" fill="outline" type="password" formControlName="oldPassword" class="mb-3">
          <ion-input-password-toggle *ngIf="oldPassword" slot="end"></ion-input-password-toggle>
        </ion-input>
        <ion-input label="{{ 'changePassword.newPassword' | translate }}" label-placement="floating" fill="outline" type="password" formControlName="newPassword" class="mb-3">
          <ion-input-password-toggle *ngIf="newPassword" slot="end"></ion-input-password-toggle>
        </ion-input>
        <ion-input label="{{ 'changePassword.confirmPassword' | translate }}" label-placement="floating" fill="outline" type="password" formControlName="confirmPassword" class="mb-3">
          <ion-input-password-toggle *ngIf="confirmPassword" slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-list>
      <ion-button shape="round" expand="full" class="fs-6 mb-2" type="submit" [@shakeAnimation]="shakeState" (@shakeAnimation.done)="resetAnimation()">
        <ion-icon name="create-outline"></ion-icon>{{ 'changePassword.submit' | translate }}
      </ion-button>
    </form>
  </ion-card>
</ion-content>
