<ion-header class="ion-no-border mb-3" *ngIf="!scanning">
  <ion-toolbar color="secondary">
    <div class="text-center">
      <img src="assets/images/Logo_DuocUC.svg.png" alt="" class="Logo-DuocUC mt-2">
    </div>
    <ion-title class="scrolling-title" #titulo>{{ 'app.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!scanning">
  <ion-card>
    <div class="mx-4 mt-3">
      <ion-title class="text-center fs-2 mb-4 text-dark">{{ 'welcome.header' | translate }}</ion-title>
      <h3 class="text-center text-dark mb-4">{{ name }} {{ lastname }}</h3>
      <h6 class="text-center text-dark">{{ 'welcome.qrInstruction' | translate }}</h6>
    </div>
    <ion-button expand="block" class="mx-4 mb-4" (click)="startScan()">
      Scanner QR
    </ion-button>
  </ion-card>
</ion-content>

<div class="h-100 w-100 d-flex align-items-end" *ngIf="scanning">
  <ion-button expand="block" class="w-100 mx-4 my-4" (click)="scanner.stopScan()" color="danger">
    Detener Scanner
  </ion-button>
</div>
