.Logo-DuocUC{
  width: 200px;
  height: auto;
}

ion-button {
  text-transform: none !important;
}

app-scanner {
  display: flex;
  width: 100%;
  height: 400px;
  z-index: -1;
}

.spinner {
  height: 400px;
}

.title-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-title {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation: scroll 8s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}
