<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <div class="text-center flex-grow-1">
        <img src="assets/images/Logo_DuocUC.svg.png" alt="" class="Logo-DuocUC mt-2">
        <ion-title class="text-center fs-2 mb-3">Sistema de asistencia</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="h-100 d-flex flex-column justify-content-evenly content">
    <ion-card class="p-2">
      <div class="d-flex flex-column align-items-center mx-4 mt-3">
        <ion-title class="text-center fs-2 mb-3 text-dark">Tu contraseña es: </ion-title>
        <h3 class="text-dark mb-1">{{password}}</h3>
      </div>
      <div class="text-center">
        <img src="assets/images/pass.jpg" alt="" class="mt-2 mb-3">
      </div>
      <ion-button shape="round" expand="full" class="fs-6" type="submit" (click)="goToLogin()">Iniciar Sesión</ion-button>
    </ion-card>
  </div>
</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar color="dark" class="text-center">
    <img src="assets/images/acreditacion.png" alt="" class="mb-2 mt-3 acreditacion">
    <div class="mb-2 d-flex gap-5 justify-content-center">
      <!-- TODO: in the future this icons have to open the respective mobile applications or the browser-->
      <a href="https://x.com/DuocUC">
        <ion-icon name="logo-twitter" size="large"></ion-icon>
      </a>
      <a href="https://www.instagram.com/duocuc_cl/">
        <ion-icon name="logo-instagram" size="large"></ion-icon>
      </a>
      <a href="https://www.linkedin.com/company/duocuc/">
        <ion-icon name="logo-linkedin" size="large"></ion-icon>
      </a>
    </div>
  </ion-toolbar>
</ion-footer>