<ion-header class="ion-no-border mb-3">
  <ion-toolbar color="secondary">
    <div class="text-center">
      <img src="assets/images/Logo_DuocUC.svg.png" alt="" class="Logo-DuocUC mt-2">
    </div>
    <ion-title class="text-center fs-2 mb-3">Sistema de asistencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="p-3" *ngIf="class">
    <div class="d-flex flex-column align-items-center mx-4 mt-1">
      <ion-title class="text-center fs-4 mb-3 text-dark">Datos de la Asignatura</ion-title>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-start">
          <ion-label>Sede:</ion-label><br>
          <ion-label>Sigla:</ion-label><br>
          <ion-label>Sección:</ion-label><br>
          <ion-label>Nombre asignatura:</ion-label><br>
          <ion-label>Nombre profesor:</ion-label><br>
          <ion-label>Día:</ion-label><br>
          <ion-label>Bloque de inicio:</ion-label><br>
          <ion-label>Bloque de término:</ion-label><br>
          <ion-label>Hora de inicio:</ion-label><br>
          <ion-label>Hora de término:</ion-label><br>
        </ion-col>
        <ion-col size="6" class="text-end">
          <ion-label >{{ class.sede }}</ion-label><br>
          <ion-label >{{ class.idAsignatura }}</ion-label><br>
          <ion-label >{{ class.seccion }}</ion-label><br>
          <ion-label >{{ class.nombreAsignatura }}</ion-label><br>
          <ion-label >{{ class.nombreProfesor }}</ion-label><br>
          <ion-label >{{ class.dia }}</ion-label><br>
          <ion-label >{{ class.bloqueInicio }}</ion-label><br>
          <ion-label >{{ class.bloqueTermino }}</ion-label><br>
          <ion-label >{{ class.horaInicio }}</ion-label><br>
          <ion-label >{{ class.horaFin }}</ion-label><br>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="p-3" *ngIf="!class">
    <div class="d-flex flex-column align-items-center mx-4 mt-1">
      <ion-title class="text-center fs-4 mb-3 text-dark">Escanea el código QR</ion-title>
    </div>
    <div class="d-flex flex-column align-items-center mx-4 mt-1">
      <ion-button shape="round" expand="full" class="fs-6 mb-3" (click)="goToHome()"><ion-icon name="qr-code-outline"></ion-icon>Escanear código QR</ion-button>
    </div>
  </ion-card>
</ion-content>
