<ion-header class="ion-no-border mb-3">
  <ion-toolbar color="secondary">
    <div class="text-center">
      <img src="assets/images/Logo_DuocUC.svg.png" alt="" class="Logo-DuocUC mt-2">
    </div>
    <ion-title class="text-center fs-2 mb-3">Sistema de asistencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="p-3">
    <div class="d-flex flex-column align-items-center mx-4 mt-1">
      <ion-title class="text-center fs-4 mb-3 text-dark">Datos de la Asignatura</ion-title>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="text-start">
          <ion-label>Sede:</ion-label><br>
          <ion-label>Sigla:</ion-label><br>
          <ion-label>Sección:</ion-label><br>
          <ion-label>Nombre asignatura:</ion-label><br>
          <ion-label>Nombre profesor:</ion-label><br>
          <ion-label>Día:</ion-label><br>
          <ion-label>Bloque de inicio:</ion-label><br>
          <ion-label>Bloque de término:</ion-label><br>
          <ion-label>Hora de inicio:</ion-label><br>
          <ion-label>Hora de término:</ion-label><br>
        </ion-col>
        <ion-col size="6" class="text-end">
          <ion-label id="sedeData">Nombre de la Sede</ion-label><br>
          <ion-label id="siglaData">AB123</ion-label><br>
          <ion-label id="seccionData">1</ion-label><br>
          <ion-label id="asignaturaData">Matemáticas</ion-label><br>
          <ion-label id="profesorData">Juan Pérez</ion-label><br>
          <ion-label id="diaData">Lunes</ion-label><br>
          <ion-label id="inicioData">8:00 AM</ion-label><br>
          <ion-label id="terminoData">10:00 AM</ion-label><br>
          <ion-label id="horaInicioData">8:00 AM</ion-label><br>
          <ion-label id="horaTerminoData">10:00 AM</ion-label><br>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>