<ion-header class="ion-no-border mb-3" [@pageAnimation]="animateState">
  <ion-toolbar color="secondary">
    <div class="text-center animate-item">
      <img src="assets/images/Logo_DuocUC.svg.png" alt="" class="Logo-DuocUC mt-2">
    </div>
    <ion-title class="text-center fs-2 mb-2 animate-item">{{ 'app.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [@pageAnimation]="animateState">
  <ion-card class="p-3 animate-item">
    <div class="d-flex flex-column align-items-center mx-4 mt-1">
      <ion-title class="text-center fs-2 mb-3 text-dark animate-item">{{ 'personalData.header' | translate
        }}</ion-title>
    </div>
    <ion-list class="mb-3">
      <ion-input label="{{ 'personalData.account' | translate }}" [clearInput]="true" label-placement="floating" id="account" required
        fill="outline" [(ngModel)]="username" class="mb-3 animate-item" value="{{ username }}"></ion-input>
      <ion-input label="{{ 'personalData.name' | translate }}" [clearInput]="true" label-placement="floating" id="name" required
        fill="outline" [(ngModel)]="name" class="mb-3 animate-item" value="{{ name }}"></ion-input>
      <ion-input label="{{ 'personalData.lastname' | translate }}" [clearInput]="true" label-placement="floating" id="lastname" required
        fill="outline" [(ngModel)]="lastname" class="mb-3 animate-item" value="{{ lastname }}"></ion-input>
      <ion-input label="{{ 'personalData.email' | translate }}" [clearInput]="true" label-placement="floating" id="email" required
        fill="outline" [(ngModel)]="email" class="mb-3 animate-item" value="{{ email }}"></ion-input>
      <ion-input label="{{ 'personalData.address' | translate }}" [clearInput]="true" label-placement="floating" id="address" required
        fill="outline" class="mb-3 animate-item" [(ngModel)]="address"></ion-input>
      <ion-input label="{{ 'personalData.securityQuestion' | translate }}" [clearInput]="true" id="securityQuestion" required
        label-placement="floating" fill="outline" [(ngModel)]="securityQuestion" class="mb-3 animate-item"
        value="{{ securityQuestion }}"></ion-input>
      <ion-input label="{{ 'personalData.securityAnswer' | translate }}" [clearInput]="true" label-placement="floating" id="securityAnswer" required
        fill="outline" [(ngModel)]="securityAnswer" class="mb-3 animate-item" value="{{ securityAnswer }}"></ion-input>
      <ion-select label="{{ 'personalData.educationLevel' | translate }}" label-placement="floating" fill="outline" id="educationLevel"
        [(ngModel)]="educationLevel" class="mb-3 animate-item">
        <div *ngFor="let edLevel of educationLevels">
          <ion-select-option value="{{ edLevel }}">{{ edLevel }}</ion-select-option>
        </div>
      </ion-select>
      <mat-form-field class="w-100 animate-item">
        <mat-label style="color: #242323;">{{ 'personalData.birthdate' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="birthdate" [max]="today" disabled style="color: #3b3b3b;" id="birthdate">
        <mat-datepicker-toggle matIconSuffix [for]="picker" disabled="false" id="toggle-datepicker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </ion-list>
    <ion-button shape="round" expand="full" class="fs-6 mb-3 animate-item" (click)="updateUser()" id="updateButton"
      [@shakeAnimation]="shakeState" (@shakeAnimation.done)="resetAnimations()">
      <ion-icon name="create-outline"></ion-icon>
      {{ 'personalData.updateData' | translate }}
    </ion-button>
    <ion-button shape="round" expand="full" class="fs-6 mb-2 animate-item" fill="outline" color="danger"
      (click)="goChangePassword()">
      <ion-icon name="key-outline"></ion-icon>
      {{ 'personalData.changePassword' | translate }}
    </ion-button>
  </ion-card>

</ion-content>
