.Logo-DuocUC {
    width: 200px;
    height: auto;
  }

  .Logo-DuocUC-xd {
    width: 200px;
    height: auto;
  }

  ion-button {
    text-transform: none !important;
  }

  .acreditacion {
    width: 250px;
    height: auto;
  }

  a{
    color: white;
  }
  #mapId {
    height: 100%; // Ensure this is tall enough to display the map
    width: 100%;
  }
  