.Logo-DuocUC {
    width: 200px;
    height: auto;
  }

  .Logo-DuocUC-xd {
    width: 200px;
    height: auto;
  }

  ion-button {
    text-transform: none !important;
  }

  .acreditacion {
    width: 250px;
    height: auto;
  }

  a{
    color: white;
  }
  #mapId {
    height: 70vh; /* Ajusta el tamaño del mapa para que ocupe el 70% del alto de la pantalla */
    margin-bottom: 1rem; /* Agrega un poco de espacio debajo del mapa */
  }
  
  