<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingreso</ion-card-title>
    </ion-card-header>
    <ion-card-content class="form">
      <ion-item class="input">
        <ion-input class="input" label="Usuario" label-placement="floating" fill="outline" placeholder="Ej: ig.peralta"></ion-input>
      </ion-item>
        <ion-item class="input">
          <ion-input class="input" label="Contraseña" label-placement="floating" fill="outline" type="password" [(ngModel)]="password">
            <ion-input-password-toggle *ngIf="password" slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      <ion-button expand="block" (click)="login()">Login</ion-button>
      <ion-button href="/recover-password" size="small" fill="clear">¿Olvidaste tu Contraseña?</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>