.Logo-DuocUC {
    width: 200px;
    height: auto;
  }

  .Logo-DuocUC-xd {
    width: 200px;
    height: auto;
  }

  .acreditacion {
    width: 250px;
    height: auto;
  }

  ion-button {
    text-transform: none !important;
  }

  a{
    color: white;
  }

  .content{
    background-image: url("../../../assets/images/alonso-ovalle.jpg");
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100vw; 
    
  }