.Logo-DuocUC {
    width: 200px;
    height: auto;
  }

  .Logo-DuocUC-xd {
    width: 200px;
    height: auto;
  }

  .acreditacion {
    width: 250px;
    height: auto;
  }

  a{
    color: white;
  }
  