<ion-header class="ion-no-border mb-3">
  <ion-toolbar color="secondary">
    <div class="text-center">
      <img src="assets/images/Logo_DuocUC.svg.png" alt="" class="Logo-DuocUC mt-2">
    </div>
    <ion-title class="text-center fs-2 mb-3">Sistema de asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="d-flex flex-column align-items-center mx-4 mt-3">
      <ion-title class="text-center fs-2 mb-4 text-dark ">MIS DATOS PERSONALES</ion-title>
    </div>
    <ion-list>
      <ion-item>
        <ion-input aria-label="Email" value="hi@ionic.io"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
