<ion-header class="ion-no-border mb-3">
  <ion-toolbar color="secondary">
    <div class="text-center">
      <img src="assets/images/Logo_DuocUC.svg.png" alt="" class="Logo-DuocUC mt-2">
    </div>
    <ion-title class="text-center fs-2 mb-1">Sistema de asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="d-flex flex-column align-items-center mx-4 mt-3">
      <ion-title class="text-center fs-2 mb-4 text-dark ">MIS DATOS PERSONALES</ion-title>
    </div>

  </ion-card>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="start" name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="radio" routerLink="/my-class">
      <ion-icon name="book-outline"></ion-icon>
      Mi clase
    </ion-tab-button>
    <ion-tab-button tab="my-profile" routerLink="/my-profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      Mis datos
    </ion-tab-button>
    <ion-tab-button (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
      Cerrar sesion
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>